<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:black;">
<div class="shadow">
    <img src="{{ photo }}"/>
</div>

<h1 style="color:wheat">{{ title }}</h1>
<font color="#f5deb3">{{ description }}</font>
<form action="bookpage" method="post">
    <input type="submit" value='recommend' name='recommend' class="button">
    <input type="submit" value='another' name='another' class="button gray">
</form>

</body>
</html>
