<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:black;">

<section class="wrapper">
    <div class="title-section">
        <h1 style="color:wheat">{{ title }}</h1>
    </div>
    <div class="content-section">
        <div class="image-block inner-data">
            <img src="{{ photo }}"/>
        </div>
        <div class="description-block inner-data">
            <p>{{ description }}</p>
        </div>
    </div>
    <div class="control-section">
        <form action="bookpage1" method="post">
            <input type="hidden" value="{{ book_id }}" name="book_id">
            <input type="submit" value='like' name='action' class="button">
            <input type="submit" value='dislike' name='action' class="button gray">
        </form>
    </div>
</section>
</body>
</html>