<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Ratings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='halp.css')}}">
</head>
<body>
    <table class = "myTable">
        <tr>
     <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>likes</th><th>dislikes</th>
    </tr>
        {% for item in items %}
         <tr>
            <td><h1>{{ item.title }}</h1></td>
            <td><img src="{{ item.photo }}" height="200" width="150"/></td>
             <td><p>{{ item.description }}</p></td>
            <td><p>{{ item.likes }}</p></td>
            <td><p>{{ item.dislikes }}</p></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>