<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <base href="/books">
    <link rel="stylesheet" type="text/css" href="static/rooms.css">
</head>
<body>
<div class="main-block">
    <form action="room" method="post">
        <h3>Create your own room:</h3>
        <input type="submit" value='create' name='create' class="button">
        <h3>or visit existing:</h3>
        <input type="text" name="room_id"><br>
        <input type="submit" value='submit' name='submit' class="button">

    </form>
</div>
</body>
</html>